# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node
# Merged with additional patterns
# /**
#  * @file .gitignore
#  * @brief Specifies files and directories that should be ignored by Git.
#  *
#  * This file specifies patterns for Git to ignore certain files and directories in the repository. These include
#  * files generated during build processes, local development files, and sensitive configuration files that should
#  * not be committed to the repository.
#  *
#  * For more information on Git ignore patterns, see https://git-scm.com/docs/gitignore.
#  */

# IDE settings
.idea
.iml
*.swp
*.swo

# Visual Studio cache directory
.vs/
# Visual Studio Code cache directory
.vscode/
# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Ignore envirment files
.env
.env.master

# Ignore nginx config
nginx.conf
Dockerfile.nginx

# Ignore redis config
redis.conf
Dockerfile.redis
Dockerfile.redisinsight

# Ignore SSL certificates
config/ssl-*.pem

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local microserver folders
ssl/
media/
DBfile/
DBarchive/
DBimage/
DBvideo/

# Ignore local Python folders
flagged/

# Ignore local unity assets folders
Art/

# Blender cash
*.blend1
**/Blender/Renders/

# Substance painter autosave
*_autosave_0.spp
*_autosave_1.spp

# Unreal Custom
Unreal/**/Saved/

# Unity Custom
Unity/**/Polybrush Data/
Unity/**/Polybrush Data.meta
Unity/screenshots/

### Redis ###
*.rdb
*.aof
*.aof.manifest

### Rust ###
**/target/
**/*.rs.bk
# This line gets auto-added by cargo
/target

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
# Instrumented libs & coverage
lib-cov
*.lcov
.nyc_output
.grunt

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
bower_components
jspm_packages/
node_modules/

# TypeScript & cache
typings/
*.tsbuildinfo
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env.test
.env*.local

# Build caches and output
.cache
.parcel-cache
.next
.nuxt
dist
.out
.storybook-out
storybook-static

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Temporary folders
tmp/
temp/

# Ignore temporary files
*.tmp
*.temp
*.bak

# JUnit XML report
junit.xml

# Custom hidden folder
hide

# Exception for tools .env file
!tools/.env

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Ignore compiled files and build artifacts
*.o
*.lo
*.la
*.so
*.dylib
*.dll
*.exe
*.out

# Ignore Python build and cache files
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ignore Ruby gems
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/tmp/

# Ignore Java build files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignore generated files and directories
bin/
gen/
out/


### Unity ###
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# TextMesh Pro files
[Aa]ssets/TextMesh*Pro/

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app
*.symbols.zip

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

### UnrealEngine ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*

### UnrealEngine Patch ###
# Don't ignore icon and splash images for mobile app
!Build/IOS/Resources/
Build/IOS/Resources/*
!Build/IOS/Resources/Graphics/
Build/IOS/Resources/Graphics/*
!Build/IOS/Resources/Graphics/*.png
!Build/Android/res/
Build/Android/res/*
!Build/Android/res/*/
Build/Android/res/*/*
!Build/Android/res/*/*.png

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/unrealengine,macos,windows,linux
